<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="autosku" translate="label" sortOrder="100">
            <label>Auto SKU</label>
        </tab>
        <section id="autosku_section" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Configuration</label>
            <tab>autosku</tab>
            <resource>Rakeshmagento_Autosku::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Auto SKU Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="prefix" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Prefix</label>
                    <comment>SKU prefix i.e ABC, DD. Put only characters</comment>
                </field>
                <field id="increment" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start From</label>
                    <comment>SKU prefix i.e 0, 1. Put only integres.</comment>
                </field>
                 <field id="sku_length" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SKU Length</label>
                    <comment>SKU Length  i.e 4, 5 </comment>
                </field>
            </group>
        </section>
    </system>
</config>