<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <autosku_section>
            <general>
                <enabled>0</enabled>
                <prefix>SKU000</prefix>
                <increment>0</increment>
            </general>
        </autosku_section>
    </default>
</config>
